<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-header">
      <a href="#" class="navbar-brand">Loyalty Project</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Offer</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Shopping</a>
        </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a [routerLink]="['/card']" class="nav-link" href="#">Check Out</a>
            </li>
         <li class="nav-item">
             <a [routerLink]="['/signin']" class="nav-link" >Login</a>
         </li>
     </ul>
  </div>
</nav>
